<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>elec_management</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  <servlet>
	 <description></description>
	 <display-name>ValidateAdmin</display-name>
	 <servlet-name>ValidateAdmin</servlet-name>
	 <servlet-class>ValidateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>ValidateAdmin</servlet-name>
	 <url-pattern>/ValidateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>Validate_student</display-name>
	 <servlet-name>Validate_student</servlet-name>
	 <servlet-class>Validate_student</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Validate_student</servlet-name>
	 <url-pattern>/Validate_student</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>Logout</display-name>
	 <servlet-name>Logout</servlet-name>
	 <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Logout</servlet-name>
	 <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>Updatestime</display-name>
	 <servlet-name>Updatestime</servlet-name>
	 <servlet-class>Updatestime</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Updatestime</servlet-name>
	 <url-pattern>/Updatestime</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>Updateetime</display-name>
	 <servlet-name>Updateetime</servlet-name>
	 <servlet-class>Updateetime</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Updateetime</servlet-name>
	 <url-pattern>/Updateetime</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>RegisterCandidate</display-name>
	 <servlet-name>RegisterCandidate</servlet-name>
	 <servlet-class>RegisterCandidate</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>RegisterCandidate</servlet-name>
	 <url-pattern>/RegisterCandidate</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>Registration</display-name>
	 <servlet-name>Registration</servlet-name>
	 <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Registration</servlet-name>
	 <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>ShowList</display-name>
	 <servlet-name>ShowList</servlet-name>
	 <servlet-class>ShowList</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>ShowList</servlet-name>
	 <url-pattern>/ShowList</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>MakeVote</display-name>
	 <servlet-name>MakeVote</servlet-name>
	 <servlet-class>MakeVote</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>MakeVote</servlet-name>
	 <url-pattern>/MakeVote</url-pattern>
  </servlet-mapping>
  <servlet>
	 <description></description>
	 <display-name>Result</display-name>
	 <servlet-name>Result</servlet-name>
	 <servlet-class>Result</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Result</servlet-name>
	 <url-pattern>/Result</url-pattern>
  </servlet-mapping>
    <servlet>
	 <description></description>
	 <display-name>Updateguid</display-name>
	 <servlet-name>Updateguid</servlet-name>
	 <servlet-class>Updateguid</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Updateguid</servlet-name>
	 <url-pattern>/Updateguid</url-pattern>
  </servlet-mapping>
</web-app>